body {
  background-color: F8E8A6;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.croissant-pic {
  display: block;

  margin: 30px auto;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  text-align: center;
}

footer a {
  color: greenyellow;
  margin: 0 10px;
}
