body {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

p {
  text-align: center;
}

.croissant-pic {
  border-radius: 10px;
  margin: 30px auto;
  max-width: 100%;
  display: block;
}

footer {
  text-align: center;
}

footer a {
  color: blueviolet;
  margin: 0 10px;
}
